.header-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: var(--primary-color);
  width: 100%;
  box-sizing: border-box;
}

.header-logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

.header-nav {
  float: right;
}

.header-ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-li {
  list-style: none;
}

.header-a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

.header-a:hover {
  background-color: yellow;
}

.header-a.active {
  color: #fff;
  background: #2196f3;
}

.header-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .header-container {
    padding: 0 15px;
  }

  .header-toggle {
    display: block;
    transition: 0.5s;
  }

  .header-toggle-active {
    transform: rotate(90deg);
    transition: 0.5s;
  }

  .header-nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: var(--primary-color);
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }

  .header-nav.active {
    left: 0;
  }

  .header-ul {
    display: block;
    text-align: center;
  }

  .header-a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
