@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap'); /* At this moment using for rest of the content only. */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* At this moment using for titles only. */

:root {
  --primary-color: #60b4bd;
  --secondary-color: #fffffe;
  --optional-secondary-color: #fafdfe;
  --dashboard-color: #606060;
  --content-color: #000000;
}

.navbar-title {
  border: 3px;
  border-style: solid;
  border-color: #60b4bd;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
}

.navbar-content {
  font-family: 'Shippori Antique B1', sans-serif;
}

.title-font {
  font-family: 'Poppins', sans-serif;
}

.content-font {
  font-family: 'Shippori Antique B1', sans-serif;
}

hr.custom-horizontal-line {
  background-color: rgb(96, 180, 189);
  height: 0px;
  border: none;
  border-top: 3px solid rgb(96, 180, 189);
}

.footer-title {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  font-size: 15px;
  font-family: 'Shippori Antique B1', sans-serif;
}

.dashboard-button {
  background-color: #60b4bd;
}

.dashboard-button:hover {
  background-color: rgba(96, 180, 189, 0.8); /* Same color as "#60b4bd", but with opacity! :) */
}
